main {
  background-color: rgb(59, 59, 59);
}
.jumbo {
  width: 65%;
  padding-top: 80px;
  height: auto;
  margin: auto;
  @include flex-row;
}
.cd {
  @include flex-column;
  background-color: black;
  padding: 2%;
  margin: 20px;
}
.poster {
  height: 220px;
  width: 220px;
}
.descrizione {
  margin-top: 10px;
  color: white;
  list-style: none;
  text-align: center;
}
.descrizione li {
  line-height: 1.5;
}
.author {
  color: grey;
}
.year {
  font-size: 10px;
}
